*{
    margin: 0;
    padding: 0;
}
body {
    min-height: 100vh;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
}
nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    justify-items: center;
    padding-top: 20px;
}
nav li {
    height: 30px;
    padding-top: 20px;

}
nav a {
    height: 100%;
    position: relative;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    letter-spacing: 1px;
    color: #ff750f;
}
.nav-list:after{
    content: "";
    position: absolute;
    background-color: #ff750f;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.nav-list:hover:after {
    width: 100%;
}
nav a:hover {
    color: orange;
}
nav li:first-child{
    margin-right: auto;
    padding-top: 0;
    height: 100px;
    padding-left: 80px;
}
.l-h1{
    background-color: #ff750f; 
    padding: 10px;
    padding-right: 0px;
    color:#522504;
    font-size: 36px;
}
.r-h1{
    background-color: #522504;
    padding: 10px;
    padding-left: 2px;
    color: #ff750f;
    font-size: 36px;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: #522504;
    backdrop-filter: blur(10px);
    box-shadow: 0px 1px 2px rgba(105, 60, 23, 0.3);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.sidebar li {
    width: 100%;
}
.sidebar a {
    width: 100%;
}
.menu-btn {
    display: none;
}

.main-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #ff750f;
    padding: 20px;
    margin-top: -20px;
    flex-grow: 1;
}

img {
    width: 500px;
    height: 500px;
    object-fit: contain;
}



h2 {
    font-size: 48px;
    margin-bottom: 10px;
}

section button {
    padding: 12px 24px;
    font-size: 18px;
    width: 250px;
    margin: 10px;
    border-radius: 30px;
    cursor: pointer;
    border-style: solid;
}
.gs {
    background-color: #ff750f;
    color: white;
    border: none;
}
.si {
    background-color: #ffffff;
    color: #ff750f;
    border-color: #ff750f;
}
button:hover {
    background-color: #522504;
    border: none;
    transition: 0.5s;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 70px; 
    color: #ff750f;
    margin-left: 70px;
}

footer p {
    margin: 0;
    font-weight: 700;
}

footer div {
    margin-left: auto; 
}

footer i {
    margin-left: 10px;
}

.section-p {
    width: 300px;
   }

   nav li:first-child::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 117, 15, 0.2);
    z-index: -1;
}




@media (max-width: 868px){
   .nav-list {
    display: none;
   }
   .menu-btn{
    display: block;
    padding-top: 30px;
   }
   .main-content {
    display: grid;
    padding-top: 70px;
   }
   .section-p {
    width: 100%;
   }
   .left-content {
    display: block;
    text-align: center;
   }
   .right-content {
    margin-left: -70px;
   }
   nav li:first-child {
    padding: 0;
   }
   footer {
    display: block;
    padding: 20px;
    margin-left: 5px;
   }
}

@media(max-width: 400px){
    .sidebar{
        width: 100%;
    }
    nav li:first-child{
        padding-left: 20px;
    }
    .section-p {
        width: 300px;
       margin-left: 70px;
    }

    img {
        width: 300px;
        height: 300px;
        object-fit: contain;
    }
    footer {
        display: block;
        padding:0;
        margin-left: 5px;
    }
}